

<div class="module-cnt">
  <div class="header">
    <div class="row m-0">
      <div class="col-md-12">
        <p class="mb-3">
          Type of user
          ->
          Name | Phone | Password | Address
          ->
          Age of property | Expected Price | Rent / Sell | Photos/Videos
        </p>
        <div class="cnt p-4">
          <form [formGroup]="form" class="form">
            <div class="form-panel-module d-flex align-items-center justify-content-center flex-column">
              <h2 class="mb-3">Listing Form</h2>
              <p class="mb-3 text-center">Please fill out this form with the required information</p>
            </div>
            <div class="hr-n-titles">
              <hr style="width:85%; margin:auto; margin-bottom:28px; border-width: 2px; color: #6b6b6b;">
              <div class="row">
                <div class="col">
                  <h6 class="m-0">
                    Personal <br> Information
                  </h6>
                </div>
                <div class="col">
                  <h6 class="m-0">
                    Property <br> Information
                  </h6>
                </div>
                <div class="col">
                  <h6 class="m-0">
                    Upload <br> Videos/Photos
                  </h6>
                </div>
              </div>
            </div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="active_tab">
              <mat-tab label="01" disabled>
                <!-- <mat-radio-group formControlName="user_type" class="mt-2 mb-2">
                  <mat-radio-button class="example-margin" value="after">
                    <h5 class="mb-1">Seller</h5>
                  </mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">
                    <h5 class="mb-1">Buyer</h5>
                  </mat-radio-button>
                </mat-radio-group> -->
                <div class="personal-data d-flex justify-content-start flex-column">
                  <label for="uses_purpose">Listing type</label>
                  <!-- <p class="label">Chose your listing type</p> -->
                  <mat-slide-toggle id="uses_purpose">Slide Toggle Checked</mat-slide-toggle>
                  <label for="name">Name: </label>
                  <input id="name" type="text" formControlName="user_name" class="mt-1 mb-1">
                  <label for="phone">Phone: </label>
                  <input id="phone" type="tel" formControlName="user_contact" class="mt-1 mb-1">
                  <label for="password">Password: </label>
                  <input id="password" type="password" formControlName="user_password" class="mt-1 mb-1" autocomplete="on">
                </div>
                <div class="action-btn d-flex justify-content-end">
                  <button class="btn btn-primary"  (click) = "switchTab(1)">Next</button>
                </div>
              </mat-tab>
              <mat-tab label="02" disabled>
                <div class="property-details d-flex justify-content-start flex-column">
                  <label for="property_age">Age of Property: </label>
                  <input id="property_age" type="number" formControlName="property_age" class="mt-1 mb-1" min="0" max="20">
                  <label for="expected_price">Expected Price: </label>
                  <input id="expected_price" type="text" formControlName="expected_price" class="mt-1 mb-1">
                  <label for="address">Address: </label>
                  <textarea id="address" type="text" formControlName="property_address" class="mt-1 mb-1" rows="4"></textarea>
                </div>
                <div class="action-btn d-flex justify-content-end">
                  <button class="btn btn-primary"  (click) = "switchTab(2)">Next</button>
                </div>
              </mat-tab>
              <mat-tab label="03" disabled>
                Content 4
                <button class="btn btn-primary" type="submit" (click)="sendData()">Submit</button>
                <button class="btn btn-primary"  (click) = "switchTab(0)">Login</button>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="body">
    <p>Body Content</p>
  </div>
  <div class="footer">
    <p>Footer Content</p>
  </div>
</div>




