::ng-deep {

  .mat-mdc-radio-group{
    display: flex;

    .mat-mdc-radio-button{
      margin-bottom: 20px !important;
      width: 50%;

      .mdc-form-field{

        .mdc-radio{
          padding: 0px !important;
          margin-right: 10px;
          border: 1px solid #000000;
          border-radius: 5px;
          width: 50px !important;
          height: 50px !important;
          display: flex !important;
          align-items: center;
          justify-content: center;

          .mat-mdc-radio-touch-target{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-image: url("../../../../assets/icon/business-card-id-card-svgrepo-com.png");
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
          }

          .mdc-radio__background , .mat-ripple{
            display: none;
          }
        }
      }
    }
  }

  .mat-mdc-radio-checked .mdc-form-field .mdc-radio .mat-mdc-radio-touch-target{
    background-image: url("../../../../assets/icon/business-card-id-card-svgrepo-com\ \(white\).png") !important;
    background-color: #000000 !important;
  }

  .mat-mdc-tab-header{
    margin-bottom: 50px;

    .mat-mdc-tab-labels{
      align-items: center;
      justify-content: space-between !important;
    }

    .mdc-tab--active .mdc-tab__text-label{
      color: #fff;
    }

    .mdc-tab-indicator--active{
      border-radius: 50%;
      background: #007bff !important;
    }

    .mdc-tab{
      opacity: 1 !important;
      width: 40px;
      min-width: 40px !important;
      height: 40px !important;
      border-radius: 50%;
      margin: 0 25px 25px 25px !important;
      padding: 0 !important;
      background: #ffffff;
      box-shadow:  5px 5px 10px #e3e3e3, -5px -4px 10px #ffffff;

      .mdc-tab-indicator{
        display: none;
      }
    }
  }
}

// Normal CSS
.cnt {
  width: 40%;
  box-shadow: 23px 23px 46px #e6e4e4,
  -23px -23px 46px #ffffff;
  border: 1px solid #00000008;
  border-radius: 10px;
  margin: 60px auto;

  .form-panel-module{
    padding: 0 0 32px 0;
  }

  .hr-n-titles{

    .row{
      margin: 0;
      margin-bottom: -90px;
      justify-content: space-between;

      .col{
        padding: 0 !important;
        text-align: center;
        width: 96px !important;
        min-width: fit-content !important;
        flex: none !important;
      }
    }
  }
}

